<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="driverClassName" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
		<property name="jdbcUrl" value="jdbc:log4jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="dutch"/>
		<property name="password" value="dutch" />
	</bean>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>	 

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/> 
		<property name="mapperLocations">
			<list>
				<!-- <value>classpath:com/spring/dutch/mapper/파일이름.xml</value> 
					  위의 형식으로 매퍼xml 등록하면 됩니다.-->
				<value>classpath:com/spring/dutch/mapper/MemberSecurityMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/MemberRegisterMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/CardMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/DutchBoardMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/MypageMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/AttachFileMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/CommunityMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/CommunityReplyMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/NoticeMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/QnaMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/QnaReplyMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/QnaAttachFileMapper.xml</value>
				<value>classpath:com/spring/dutch/mapper/HomeMapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	 	
	<mybatis-spring:scan base-package="com.spring.dutch.mapper" template-ref="sqlSession" /> 


	<bean id="txManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>
</beans>
