<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dutch.mapper.CardMapper">

	<!-- 게시물 가져오기 -->
	<select id="selectList" resultType="com.spring.dutch.domain.CardVO"
	        parameterType="com.spring.dutch.dto.CardPagingDTO">
		<![CDATA[
			SELECT kno, category, kname, kcontent, kcompany, kcomment
			FROM ( SELECT /*+ INDEX_DESC (a pk_card) */ROWNUM rn, a.*
			       FROM dutch.tbl_card a
			WHERE 
		]]>
		<trim prefix="(" suffix=") AND" prefixOverrides="OR" >
			<foreach item='scope' collection="myScopeArr">
				<trim prefix="OR">
					<choose>
						<when test="scope == 'T'.toString()">category LIKE '%'||#{keyword}||'%'</when>
						<when test="scope == 'C'.toString()">kname LIKE '%'||#{keyword}||'%'</when>
						<when test="scope == 'W'.toString()">kcompany LIKE '%'||#{keyword}||'%'</when>
					</choose>
				</trim> 
			</foreach>
		</trim>	 

		<![CDATA[	       
			       ROWNUM <= (#{pageNum} * #{rowAmountPerPage})
			       )
			 WHERE rn >= ((#{pageNum} * #{rowAmountPerPage}) - (#{rowAmountPerPage} - 1)) 
		]]>
	</select> 
	
	<!-- 행 수 -->
	<select id="selectRows" resultType="long"
	        parameterType="com.spring.dutch.dto.CardPagingDTO" >
		SELECT COUNT(*) rowTotal FROM dutch.tbl_card
		<where>
			<trim prefix="(" suffix=")" prefixOverrides="OR">
				<foreach item='scope' collection="myScopeArr">
					<trim prefix="OR">
						<choose>
							<when test="scope == 'T'.toString()">category LIKE '%'||#{keyword}||'%'</when>
							<when test="scope == 'C'.toString()">kname LIKE '%'||#{keyword}||'%'</when>
							<when test="scope == 'W'.toString()">kcompany LIKE '%'||#{keyword}||'%'</when>
						</choose>
					</trim> 
				</foreach>
			</trim>	 
		</where>
	</select>
	
	<!-- 카드 등록 -->
	<insert id="insertCard" parameterType="com.spring.dutch.domain.CardVO">
		insert into dutch.tbl_card
		values (
		#{kno},#{category},#{kname},#{kcontent},#{kcompany},#{kcomment}
		)
		
	</insert>
	
	<!-- 카드 이미지 등록 -->
	<insert id="insertAttachFile" parameterType="com.spring.dutch.domain.CardAttachFileVO">
		INSERT INTO dutch.tbl_myAttachFiles
		VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{kno})
	</insert>


</mapper>