<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dutch.mapper.CardMapper">

	<!-- 게시물 가져오기 -->
	<select id="selectList" resultType="com.spring.dutch.domain.CardVO"
	        parameterType="com.spring.dutch.dto.CardPagingDTO">
		<![CDATA[
			SELECT kno, category, kname, kcontent, kcompany, kcomment
			FROM ( SELECT /*+ INDEX_DESC (a pk_card) */ROWNUM rn, a.*
			       FROM dutch.tbl_card a
			WHERE 
		]]>
		<trim prefix="(" suffix=") AND" prefixOverrides="OR" >
			<foreach item='scope' collection="myScopeArr">
				<trim prefix="OR">
					<choose>
						<when test="scope == 'T'.toString()">category LIKE '%'||#{keyword}||'%'</when>
						<when test="scope == 'C'.toString()">kname LIKE '%'||#{keyword}||'%'</when>
						<when test="scope == 'W'.toString()">kcompany LIKE '%'||#{keyword}||'%'</when>
					</choose>
				</trim> 
			</foreach>
		</trim>	 

		<![CDATA[	       
			       ROWNUM <= (#{pageNum} * #{rowAmountPerPage})
			       )
			 WHERE rn >= ((#{pageNum} * #{rowAmountPerPage}) - (#{rowAmountPerPage} - 1)) 
		]]>
	</select> 
	
	<!-- 행 수 -->
	<select id="selectRows" resultType="long"
	        parameterType="com.spring.dutch.dto.CardPagingDTO" >
		SELECT COUNT(*) rowTotal FROM dutch.tbl_card
		<where>
			<trim prefix="(" suffix=")" prefixOverrides="OR">
				<foreach item='scope' collection="myScopeArr">
					<trim prefix="OR">
						<choose>
							<when test="scope == 'T'.toString()">category LIKE '%'||#{keyword}||'%'</when>
							<when test="scope == 'C'.toString()">kname LIKE '%'||#{keyword}||'%'</when>
							<when test="scope == 'W'.toString()">kcompany LIKE '%'||#{keyword}||'%'</when>
						</choose>
					</trim> 
				</foreach>
			</trim>	 
		</where>
	</select>
	
	<!-- 카드 등록 -->
	<insert id="insertCard" parameterType="com.spring.dutch.domain.CardVO">
		insert into dutch.tbl_card
		values (
		#{kno},#{category},#{kname},#{kcontent},#{kcompany},#{kcomment}
		)
		
	</insert>
	
	<!-- 특정 카드 조회(modify.jsp) -->
	<select id="selectCard2" resultType="com.spring.dutch.domain.CardVO">
		SELECT kno, category, kname, kcontent, kcompany, kcomment
		FROM dutch.tbl_card
		WHERE kno = #{kno}
	</select>
	
	<!-- 특정 카드 조회(detail.jsp) -->
	<resultMap type="com.spring.dutch.domain.CardAttachFileVO" id="attachFileMap">
		<result property="uuid" column="uuid"/>
		<result property="uploadPath" column="uploadPath"/>
		<result property="fileName" column="fileName"/>
		<result property="kno" column="kno"/>
	</resultMap>
	
	<resultMap type="com.spring.dutch.domain.CardVO" id="CardMap">
		<result property="kno" column="kno"/>
		<result property="category" column="category"/>
		<result property="kname" column="kname"/>
		<result property="kcontent" column="kcontent"/>
		<result property="kcompany" column="kcompany"/>
		<result property="kcomment" column="kcomment"/>
		<collection property="attachFileList"  resultMap="attachFileMap"/>
	</resultMap>
	<select id="selectCard" resultMap="CardMap">
		SELECT a.kno, a.category, a.kname, a.kcontent, a.kcompany, a.kcomment,
			   b.uuid, b.uploadPath, b.fileName, b.kno
		FROM dutch.tbl_card a LEFT OUTER JOIN dutch.tbl_cardAttachFiles b ON (a.kno = b.kno) 
		WHERE a.kno = #{kno}
	</select>
	
	<select id="selectCardAndImg" resultMap="CardMap">
		SELECT a.kno, a.category, a.kname, a.kcontent, a.kcompany, a.kcomment,
			   b.uuid, b.uploadPath, b.fileName, b.kno
		FROM dutch.tbl_card a LEFT OUTER JOIN dutch.tbl_cardAttachFiles b ON (a.kno = b.kno)
	</select>
	
	<!-- 게시물 수정(UPDATE) -->
	<update id="updateCard" parameterType="com.spring.dutch.domain.CardVO">
		UPDATE dutch.tbl_card
		SET category = #{category} ,
	    	kname = #{kname} ,
	    	kcontent = #{kcontent},
	    	kcompany = #{kcompany},
	    	kcomment = #{kcomment}
		WHERE kno = #{kno}	
	</update>
	
	<!-- 카드 삭제 -->
	<delete id="deleteCard" parameterType="com.spring.dutch.domain.CardVO">
		DELETE FROM dutch.tbl_card
		WHERE kno = #{kno} 
	</delete>
	
	<!-- 특정 게시물의 모든 첨부파일 조회 -->
	<select id="selectAttachFiles" resultType="com.spring.dutch.domain.CardAttachFileVO">
		SELECT uuid, uploadPath, fileName, kno
		FROM dutch.tbl_cardAttachFiles
		WHERE kno = #{kno}
	</select>
	
	<!-- 카드 이미지 등록 -->
	<insert id="insertAttachFile" parameterType="com.spring.dutch.domain.CardAttachFileVO">
		INSERT INTO dutch.tbl_cardAttachFiles
		VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{kno})
	</insert>
	
	<!-- 특정 카드 이미지 삭제 -->
	<delete id="deleteAttachFile">
		DELETE FROM dutch.tbl_cardAttachFiles
		WHERE uuid = #{uuid}
	</delete>

	<!-- 모든 이미지 삭제 -->
	<delete id="deleteAttachFiles">
		DELETE FROM dutch.tbl_cardAttachFiles
		WHERE kno = #{kno}
	</delete>
	
	<!-- 추천수 + 1 -->
	<update id="addKcomment" parameterType="String">
		update dutch.tbl_card
		set kcomment = kcomment + 1
		where kno = #{kno}
	</update>
	
	<!-- 추천수 + 1 -->
	<update id="subKcomment" parameterType="String">
		update dutch.tbl_card
		set kcomment = kcomment - 1
		where kno = #{kno}
	</update>

</mapper>