<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dutch.mapper.MemberRegisterMapper">
 	

	
	<insert id="insertMember" parameterType="com.spring.dutch.domain.MemberVO">
		
		INSERT INTO dutch.tbl_member
		VALUES (#{mno},
		#{nickname},
		#{bank},
		#{bankAccount},
		#{username}, 
		#{email},
		#{password},
		#{hp},
		#{cellphone},
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		#{loginType},
		#{gender},
		#{age})
		
	</insert>	
	
	<insert id="insertAuthority" parameterType="com.spring.dutch.domain.MemberVO">
		insert into dutch.tbl_member_authority
		values(
		#{nickname},
		'ROLE_USER')
	</insert>


	<select id="selectUserEmail" parameterType="com.spring.dutch.domain.MemberVO"
			resultType="String">
	
		select email 
		from dutch.tbl_member
		where nickname = #{nickname}
	
	</select>

</mapper>